
<nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span> <class="menu-title">Dashboard</span>
            <div class="badge badge-info badge-pill"></div>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Components</p>
          <span></span>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">All Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/edit-user" >
            <i class="mdi mdi-chart-pie menu-icon"></i>
            <span class="menu-title">All Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all-category">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/admin-orders">
            <i class="mdi mdi-emoticon menu-icon"></i>
            <span class="menu-title">Orders</span>
          </a>
        </li>

  <li class="nav-item">
          <a class="nav-link" href="/admin/coupon-offer">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Add coupon</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/admin/category-offer">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Add offer</span>
          </a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/admin/sales-report">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Sales Report</span>
          </a>
        </li>



      </ul>
    </nav>
