<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col lg-6 mx-auto">
        <form action="/new-password" method="post" id="form">
  <div class="mb-3">
    <h2>Change your Current Password</h2>
    <h4 class="text-danger bg-white">{{Message}}</h4>
    
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input type="password" name="password" value="asd" class="form-control" id="password">
  </div>


    
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" name="password2" value="asd" class="form-control" id="password2">
  </div>
  


  <button type="submit" class="btn btn-primary">Submit</button>
 

</form>

      </div>
      </div>
      
  </div>
</section>




        
   