<section>
<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <form>
                <h1>Ordered Successfully</h1>

           <a href="/orders" class="btn btn-primary">View Orders</a>
                </form>
            </div>
        </div>
    </div>
</section>



