<section>
  <div class="container">
    <div class="row">
        <div class="col-md-6">



<form action="/password-change" method="post"  id="form">
     
     <div class="card py-5 px-3">
      <h5 class="m-0">OTP LOGIN</h5>
      <p>please confirm your mobile number so that you can reset your password</p>
      {{message}}
      <span class="mobile-text">Enter your Mobile Number</span>
      <div class="d-flex flex-row mt-5">
        <input type="text" name="number" class="form-control" autofocus="" id="otp-login" ></div>
      <span id="errorNumber"></span>
     </div>
          
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>

     
       
</form>
            </div>
    </div>
  </div>
</section>

<script>
  const input=document.getElementById("otp-login")t
  const form=document.getElementById("form")
  const error1=document.getElementById("errorNumber")

  form.addEventListener(e)=>{
    e.preventDefault()

    let message=[]
    if(inputvalue.length==''||input.value==null){
      message.push("Enter phone number ")
    }else if(isNaN(input.value)==true){
      message.push('only numbers allowed')
    }
    if(message.value>0){
      e.preventDefault()
      error1.innerText=message.join('')
    }
  }
</script>