<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                
                <div>
                <h3>Total Amount in Wallet</h3>
                </div>
              

              <div>
                <h5>Latest Credits to Wallet</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Cancelled Product</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                </table>

              </div>
            
            
            
            
            </div>
        </div>
    </div>
</section>